
<RadzenCard Variant="Variant.Filled" Style="margin-block:5px;">
    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-p-4">
        <RadzenText TextStyle="TextStyle.Subtitle1"><b onclick="@NavigateToUser" onmouseover="" style="cursor: pointer;">@Data.User.Name</b></RadzenText>
        <RadzenText TextStyle="TextStyle.Caption"><div class="rz-text-wrap">@Data.Text</div></RadzenText>
    </RadzenStack>
</RadzenCard>