@page "/"
@using Zephyr.Components.Controls.Feed

<PageTitle>Home</PageTitle>
<div Style="max-width: 600px; background-color: transparent; margin-left:auto; margin-right:auto;">
    <PostInput OnPosted="OnPosted"></PostInput>
    @foreach (var post in _postViewModelList)
    {
        <PostItem Data="post" IsFeed="true"></PostItem>
    }
</div>